html, body {
  margin: 0;
  height: 100%;
  padding: 0;   
}

body {
    display: table;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    background: #222;
}

.wrapper {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 100%;
}


h1, a, p {
    color: #ddd;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1 {
    font-size: 26px;
    text-transform: lowercase;
}

a {
    text-decoration: none;
}

p {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 6px;
}