html, body {
  margin: 0;
  height: 100%;
  padding: 0;   
}
body {
    display: table;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    background: #222;
    color: #ddd;
}
.card {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 100%;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
h1, a, .title {
    color: #ddd;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 1.5em;
}
h1 {
    font-size: 26px;
    text-transform: lowercase;
}
a {
    text-decoration: none;
}
.givenName {
    font-weight: 300;
    margin-right: -2px;
    opacity: 0;
    -webkit-animation: fadein 3s 1s forwards;
       -moz-animation: fadein 3s 1s forwards;
         -o-animation: fadein 3s 1s forwards;
            animation: fadein 3s 1s forwards;
}
.familyName {
    font-weight: 900;
    margin-left: -2px;
    opacity: 0;
    -webkit-animation: fadein 3s 1s forwards;
       -moz-animation: fadein 3s 1s forwards;
         -o-animation: fadein 3s 1s forwards;
            animation: fadein 3s 1s forwards;
}
.title {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 6px;
    opacity: 0;
    -webkit-animation: fadein 3s 3s forwards;
       -moz-animation: fadein 3s 3s forwards;
         -o-animation: fadein 3s 3s forwards;
            animation: fadein 3s 3s forwards;
}
.title .first {
    margin-right: -8px;
}
.title .second {
    margin-left: -8px;
}

.email {
    margin: 32px;
    font-size: 32px;
    text-align: center;
    display: block;
    opacity: 0;
    -webkit-animation: fadein .5s 6s forwards;
       -moz-animation: fadein .5s 6s forwards;
         -o-animation: fadein .5s 6s forwards;
            animation: fadein .5s 6s forwards;
}
